<!DOCTYPE html>
<header>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  <title>Monkey, Ninja, Pirate, Zombie, Robot</title>
</header>
<body>

  <section class="navbar">

    <h1>Welcome to Monkey, Ninja, Pirate, Zombie, Robot!</h1>

  </section>

    <section class="warriors">
      <img id="monkey" data-pick="monkey" src="/images/monkey.gif">
      <img id="ninja" data-pick="ninja" src="/images/ninja.gif">
      <img id="pirate" data-pick="pirate" src="/images/pirate.gif">
      <img id="zombie" data-pick="zombie" src="/images/zombie.gif">
      <img id="robot" data-pick="robot" src="/images/robot.gif">
    </section>

    <h1 id="result"></h1>

<script src="/js/jquery.js"></script>
<script type="text/javascript" src="/rps.js"></script>
<script src="/controller.js"></script>
</body>
</html>
