*{
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  height: 8%;
  width: 100%;
  padding-bottom: 3%;
}

h1 {
  padding-top: 2%;
  color: white;
  font-size: 500%;
  font-family: 'YouMurderer BB';
  text-align: center;
  
}

body {
  background-color: #ff6600;
}

#warriors {
  padding-top: 12.5%;
  padding-bottom: 7%;
}

#warriors img {
  width: 350px;
  height: 350px;
  border-radius: 175px;
  -webkit-border-radius: 175px;
  -moz-border-radius: 175px;
  border: solid black
}

#result {
color: black;
font-size: 600%;


}